.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1e3a8a;
  color: white;
  position: relative;
  z-index: 1000;
}

.navbar-title {
  font-size: 0.4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar-toggle {
  background: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.nav-img {
  width: 90px;
  display: flex;
  align-items: start;
  justify-content: start;
  border-radius: 5px;
}

.sidebar-toggle:hover {
  color: #c8c8c8;
}

.user-icon {
  background: #e2e8f0;
  color: #1e3a8a;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  margin-right: 3%;
}

.user-profile {
  position: absolute;
  top: 50px;
  right: 20px;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 15px;
  z-index: 1000;
  width: 200px;
}

.user-profile p {
  margin: 5px 0;
  font-size: 14px;
}

.user-profile button {
  width: 100%;
  padding: 6px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile button:hover {
  background: #e60000;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 1rem;
  }
}